[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/for/*"]
[access "refs/heads/*"]
	exclusiveGroupPermissions = forgeAuthor forgeCommitter forgeServerAsCommitter pushMerge
	forgeAuthor = group Administrators
	forgeCommitter = group Administrators
	forgeServerAsCommitter = group Administrators
	pushMerge = group Administrators
